footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Cheese logo')
    ul.footer__nav
        li: a(href='#') Про нас
        li: a(href='#') Download Apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; by Nikita Datskiy IK-91.