extends baseEmail

block content
    p Привіт #{firstName},
        p Ласкаво просимо до Cheese Shop, ми раді вам 🎉🙏
        p Ми всі тут велика сім’я, тож обов’язково завантажте своє фото користувача, щоб ми познайомилися з вами трохи краще!
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Завантажити фото користувача
        p Якщо вам потрібна допомога з замовленням наступного продукту, будь ласка, не соромтеся зв’язуватися зі мною!
        p - Nikita Datskiy, IK-91
