footer.footer
    .footer__logo
        img(src='/img/favicon3.png' alt='Cheese logo' style='height: 90px;')
    ul.footer__nav
        li: a(href='#') Про нас
        li: a(href='#') Завантаж додаток
        li: a(href='#') Приєднуйся до команди
        li: a(href='#') Карєра
        li: a(href='#') Контакти
    p.footer__copyright &copy; by Nikita Datskiy IK-91.