extends base

mixin navItemAccount(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                .admin-nav
                    h5.admin-nav__heading Admin
                    ul.side-nav
                        +navItemAccount('#', 'Manage tours', 'map', false)
                        +navItemAccount('#', 'Manage users', 'users', false)
                        +navItemAccount('#', 'Manage reviews', 'star', false)
                        +navItemAccount('#', 'Manage booking', 'briefcase', false)


            .user-view__content
                .user-view__form-container.updateCurrentUser
                    h2.heading-secondary.ma-bt-md статистика на сьогодні
                        .card(style='padding-bottom: 15px; color: #444;')
                            .card__details
                                h4.card__sub-heading Товару придбано:
                                p.card__text на 567 грн
                        .card(style='padding-bottom: 15px; color: #444;')
                            .card__details
                                h4.card__sub-heading Відгуки:
                                p.card__text 21 новий відгук
                        .card(style='padding-bottom: 15px; color: #444;')
                            .card__details
                                h4.card__sub-heading Користувачів:
                                p.card__text 13 нових користувачів


                .line &nbsp;
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Month Data
